
body{
    margin: 0;
}



h1{
   font-family: 'Bungee Shade', cursive;
    font-size: 50pt;
    background-color: rgba(255,255,255,.5);
    text-align: center;
    

}

h2{
   font-family: 'Bungee Inline', cursive;

    font-size: 35pt;
    background-color: rgba(255,255,255,.5);
    text-align: center;
    

}





.home{
    background-image: url(Images/artpink.jpeg);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.menu {
    position: fixed;
    bottom: 0;
    width: 99.6%;
     list-style-type: none;
   margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.2%;
    padding-right: 0.2%;
    overflow: hidden;
     background-color:black;
    
 
     

}

li {
    float: left;
    font-family: 'Bungee Outline', cursive;
    color: white;
    font-size: 30pt;
    border-right: 1px solid white;
    padding: 1%;
    width: 14.6%; 
    min-width: 200px;

       
}

li a {
       display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

li:last-child {
    border-right: none;
}
li:hover {
    background-color: #111;
}


.whitebox{
    width: 10000px;
    height: 300px;

        background-color: rgba(255,255,255,.5);
    align-content: center;

}

 

   

.pantone{
    width: 12vw;
    height: 18vw;
    border: 2px solid black;
    margin-left: 2.1vw;
    display: inline-block;
    
    
}



.pantonedescription{
    background-color: white;
    padding: .6vw;
    height: 4.8vw;
    margin-top: 12vw;
    
}

#pantone1{
    background-color: rgb(233,89,133);
    margin-left: 5.95vw;
}




#pantone2{
    background-color: rgb(249, 99, 59);  
} 



#pantone3{
    background-color: rgb(123, 179, 105);
   
} 

#pantone4{
        background-color: rgb(255, 195, 0);  

}

#pantone5{
        background-color: rgb(20, 163, 199);  

}

#pantone6{
       background-color: rgb(120, 67, 132);  
    margin-right: 8.25vw;
 
}


#pantone71{
 background-color: rgb(103, 98, 50);
     margin-left: 5.95vw;
}

#pantone72{
    background-color: rgb(198, 93, 82);  
} 



#pantone73{
    background-color: rgb(93, 71, 58);
   
} 

#pantone74{
        background-color: rgb(182, 138, 58);  

}

#pantone75{
        background-color: rgb(181, 90, 48);  

}

#pantone76{
       background-color: rgb(24, 87, 108);  
    margin-right: 8.25vw;
 
}


#pantone81{
 background-color: rgb(188,164, 203);
     margin-left: 5.95vw;
}

#pantone82{
    background-color: rgb(173, 94, 153);  
} 



#pantone83{
    background-color: rgb(181, 130, 153);
   
} 

#pantone84{
        background-color: rgb(185, 38, 54);  

}

#pantone85{
        background-color: rgb(61, 66, 139);  

}

#pantone86{
       background-color: rgb(192, 66, 138);  
    margin-right: 8.25vw;
 
}

#pantone91{
 background-color: rgb(195,189, 171);
     margin-left: 5.95vw;
}

#pantone92{
    background-color: rgb(138, 121, 99);  
} 



#pantone93{
    background-color: rgb(163, 160, 78);
   
} 

#pantone94{
        background-color: rgb(228, 191, 69);  

}

#pantone95{
        background-color: rgb(243, 105, 68);  

}

#pantone96{
       background-color: rgb(0, 171, 192);  
    margin-right: 8.25vw;
 
}

#pantone21{
 background-color: rgb(155, 183, 212);
     margin-left: 5.95vw;
}

#pantone22{
    background-color: rgb(155, 27, 48);  
} 



#pantone23{
    background-color: rgb(151, 141, 137);
   
} 

#pantone24{
        background-color: rgb(159, 153, 170);  

}

#pantone25{
        background-color: rgb(240, 192, 90);  

}

#pantone26{
       background-color: rgb(126, 155, 118);  
    margin-right: 8.25vw;
 
}


.pattern{

   width: 13vw;
    height: 13vw;
    border: 2px solid black;
    margin-left: 2.1vw;
    display: inline-block;
    
}

.imagegallery{
    
    display: inline-block;
    align-content: center;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    
}


.fashionimagegallery6
{
    
    display: inline-block;
    align-content: center;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 150px;
    
}

.fashionimagegallery
{
    
    display: inline-block;
    align-content: center;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 150px;
    
}


#mensfashion60{
height: 655px;
    padding-left: 10px;

    width: 600px;
  
}



#womensfashion70s{
    width: 700px;

    
    
}

#mensfashion70{
    
    width: 700px;
    height: 553.92px;
    
}



#womensfashion80{
    width: 700px;
    
    
   
}

#mensfashion80{
    width: 550px;
    
    height: 350px;
    margin-left: 150px;
}

#mensfashion90{
    width: 650px;
    margin-left: 30px;
    
}

#womensfashion90{
    width: 650px;
    height: 423.02px;
    margin-left: 15px;
}

#mensfashion20{
    width: 700px;
    height: 488.61px;
    margin-left: 5px;
    
}

#womensfashion20{
    width: 650px;
    margin-left: 30px;
}
